.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 20px;
}

#graficoPizza {
  width: 200px;
  height: 200px;
}
/* Estilos para a classe container */
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para os gráficos */
.grafico-container {
  margin-top: 20px;
}

/* Estilos para o gráfico de barras */
#graficoBarras {
  width: 100%;
  height: 300px; /* Altura padrão */
}

/* Estilos para o gráfico de pizza */
#graficoPizza {
  width: 100%;
  height: 300px; /* Altura padrão */
}

/* Estilos para responsividade usando media screen */
@media screen and (max-width: 600px) {
  .container {
      max-width: 300px;
  }

  /* Reduza a altura dos gráficos para telas menores */
  .grafico-container {
      margin-top: 10px;
  }

  #graficoBarras,
  #graficoPizza {
      height: 200px; /* Altura reduzida para telas menores */
  }
}
