.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultado {
  margin-top: 20px;
}

#graficoPizza {
  width: 200px;
  height: 200px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.grafico-container {
  margin-top: 20px;
}

#graficoBarras {
  margin: 50px;
  width: 10px;
  height: 10px; 
}

#graficoPizza {
  margin: 50px;
  width: 10px;
  height:10px;
}

@media screen and (max-width: 600px) {
  .container {
      max-width: 300px;
  }

  .grafico-container {
      margin-top: 10px;
  }

  #graficoBarras,
  #graficoPizza {
      height: 200px;
  }
}
